.b{
    height: 500px;
    width: 500px;
    background: rgb(234, 231, 237);
    position:relative;
    border: 12px solid magenta;
}
div{
    height: 300px;
    width: 300px;  position: absolute;
}
.blue{
 
    background:blue;
    right: 0;

}
.red{
    
    background:rgb(255, 0, 0);
left:0;
z-index: -1;
}
.orange{
  
    background:rgb(231, 255, 18);
bottom:0;
}