@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #FFACAC;
    top: 96%;
    left: 78%;
    animation-duration: 13s;
    animation-delay: -20s;
    transform-origin: -19vw 8vh;
    box-shadow: 40vmin 0 5.046287142591305vmin currentColor;
}
.background span:nth-child(1) {
    color: #FFACAC;
    top: 51%;
    left: 85%;
    animation-duration: 19s;
    animation-delay: -44s;
    transform-origin: 13vw 0vh;
    box-shadow: -40vmin 0 5.477424231252008vmin currentColor;
}
.background span:nth-child(2) {
    color: #E45A84;
    top: 27%;
    left: 72%;
    animation-duration: 39s;
    animation-delay: -33s;
    transform-origin: 5vw -23vh;
    box-shadow: -40vmin 0 5.75859383504487vmin currentColor;
}
.background span:nth-child(3) {
    color: #FFACAC;
    top: 26%;
    left: 8%;
    animation-duration: 47s;
    animation-delay: -33s;
    transform-origin: -12vw 12vh;
    box-shadow: -40vmin 0 5.699930811898835vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 53%;
    left: 65%;
    animation-duration: 37s;
    animation-delay: -46s;
    transform-origin: 5vw 5vh;
    box-shadow: -40vmin 0 5.114231951589409vmin currentColor;
}
.background span:nth-child(5) {
    color: #E45A84;
    top: 36%;
    left: 66%;
    animation-duration: 48s;
    animation-delay: -17s;
    transform-origin: 14vw 23vh;
    box-shadow: -40vmin 0 5.635081955587008vmin currentColor;
}
.background span:nth-child(6) {
    color: #583C87;
    top: 69%;
    left: 29%;
    animation-duration: 54s;
    animation-delay: -28s;
    transform-origin: -6vw 7vh;
    box-shadow: -40vmin 0 5.205885266457761vmin currentColor;
}
.background span:nth-child(7) {
    color: #E45A84;
    top: 53%;
    left: 30%;
    animation-duration: 29s;
    animation-delay: -25s;
    transform-origin: 10vw -18vh;
    box-shadow: 40vmin 0 5.570373656043959vmin currentColor;
}
.background span:nth-child(8) {
    color: #583C87;
    top: 49%;
    left: 49%;
    animation-duration: 18s;
    animation-delay: -21s;
    transform-origin: 25vw -9vh;
    box-shadow: -40vmin 0 5.06115969999912vmin currentColor;
}
.background span:nth-child(9) {
    color: #E45A84;
    top: 31%;
    left: 51%;
    animation-duration: 48s;
    animation-delay: -41s;
    transform-origin: 12vw 3vh;
    box-shadow: 40vmin 0 5.964924308888655vmin currentColor;
}
.background span:nth-child(10) {
    color: #FFACAC;
    top: 4%;
    left: 96%;
    animation-duration: 7s;
    animation-delay: -2s;
    transform-origin: 14vw -21vh;
    box-shadow: 40vmin 0 5.156461953115518vmin currentColor;
}
.background span:nth-child(11) {
    color: #E45A84;
    top: 21%;
    left: 92%;
    animation-duration: 55s;
    animation-delay: -47s;
    transform-origin: -9vw -14vh;
    box-shadow: -40vmin 0 5.244922193719853vmin currentColor;
}
.background span:nth-child(12) {
    color: #E45A84;
    top: 40%;
    left: 96%;
    animation-duration: 7s;
    animation-delay: -50s;
    transform-origin: -24vw -19vh;
    box-shadow: 40vmin 0 5.608248652711177vmin currentColor;
}
.background span:nth-child(13) {
    color: #E45A84;
    top: 79%;
    left: 30%;
    animation-duration: 25s;
    animation-delay: -30s;
    transform-origin: 11vw -9vh;
    box-shadow: -40vmin 0 5.863388436598685vmin currentColor;
}
.background span:nth-child(14) {
    color: #FFACAC;
    top: 29%;
    left: 22%;
    animation-duration: 55s;
    animation-delay: -43s;
    transform-origin: 2vw 21vh;
    box-shadow: 40vmin 0 5.343510774513575vmin currentColor;
}
.background span:nth-child(15) {
    color: #583C87;
    top: 2%;
    left: 80%;
    animation-duration: 50s;
    animation-delay: -12s;
    transform-origin: 15vw -21vh;
    box-shadow: -40vmin 0 5.104672522363175vmin currentColor;
}
.background span:nth-child(16) {
    color: #FFACAC;
    top: 98%;
    left: 49%;
    animation-duration: 44s;
    animation-delay: -31s;
    transform-origin: -3vw -13vh;
    box-shadow: -40vmin 0 5.781583145139188vmin currentColor;
}
.background span:nth-child(17) {
    color: #FFACAC;
    top: 84%;
    left: 54%;
    animation-duration: 41s;
    animation-delay: -33s;
    transform-origin: 9vw -15vh;
    box-shadow: -40vmin 0 5.972712575128013vmin currentColor;
}
.background span:nth-child(18) {
    color: #FFACAC;
    top: 26%;
    left: 3%;
    animation-duration: 45s;
    animation-delay: -15s;
    transform-origin: -21vw -21vh;
    box-shadow: 40vmin 0 5.381632492333252vmin currentColor;
}
.background span:nth-child(19) {
    color: #FFACAC;
    top: 38%;
    left: 75%;
    animation-duration: 37s;
    animation-delay: -50s;
    transform-origin: 19vw 17vh;
    box-shadow: 40vmin 0 5.083273187424453vmin currentColor;
}
