div.noise
<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>

div(style="float:right; text-align:right;padding:15px 25px 0 20px;")
  h1 Content gallery fade-in animation

div(style="padding-left: 20px;")
  a(id="button" class="refresh" href="#") Refresh
  p(style="padding-left: 10px;")
    a(class="link" href='/ingomc/pen/pNKejV' target="_blank") CSS & JS Version &rsaquo; &nbsp; 

    a(class="link" href='/ingomc/pen/LNXqEg' target="_blank") CSS only Version &rsaquo;



div.grid-animation
   div.grid-container
    - for(var x = 1;x <= 30;x++)
      a(href="#") 
        div(class="item") Push & Hold

    - for(var x = 1;x <= 20;x++)
      div(class="item")

